<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Connections</title>
</head>
<body>
    <h2>Create Connections</h2>
    <form id="connectionsForm" enctype="multipart/form-data">
        <label for="my_document">Document:</label><br>
        <input type="file" id="my_document" name="my_document" required><br><br>
        
        <label for="first_name">First Name:</label><br>
        <input type="text" id="first_name" name="first_name" placeholder="Enter first name" required><br><br>
        
        <label for="last_name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name" placeholder="Enter last name" required><br><br>
        
        <label for="phone_number">Phone Number:</label><br>
        <input type="tel" id="phone_number" name="phone_number" placeholder="Enter phone number" required><br><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" placeholder="Enter email" required><br><br>
        
        <label for="dob_day">Date of Birth:</label><br>
        <input type="number" id="dob_day" name="dob_day" placeholder="Day" required>
        <input type="number" id="dob_month" name="dob_month" placeholder="Month" required>
        <input type="number" id="dob_year" name="dob_year" placeholder="Year" required><br><br>
        
        <label for="address_line1">Address:</label><br>
        <input type="text" id="address_line1" name="address_line1" placeholder="Enter address line 1" required><br>
        <input type="text" id="address_city" name="address_city" placeholder="City" required><br>
        <input type="text" id="address_state" name="address_state" placeholder="State" required><br>
        <input type="text" id="address_postal_code" name="address_postal_code" placeholder="Postal Code" required><br>
        <input type="text" id="address_country" name="address_country" placeholder="Country" required><br><br>
        
        <label for="business_name">Business Name:</label><br>
        <input type="text" id="business_name" name="business_name" placeholder="Enter business name" required><br><br>
        
        <label for="business_url">Business URL:</label><br>
        <input type="url" id="business_url" name="business_url" placeholder="Enter business URL" required><br><br>
        
        <label for="mcc">MCC:</label><br>
        <input type="text" id="mcc" name="mcc" placeholder="Enter MCC" required><br><br>
        
        <label for="country">Country:</label><br>
        <input type="text" id="country" name="country" placeholder="Enter country" required><br><br>
        
        <label for="routing_number">Routing Number:</label><br>
        <input type="text" id="routing_number" name="routing_number" placeholder="Enter routing number" required><br><br>
        
        <label for="external_country">External Country:</label><br>
        <input type="text" id="external_country" name="external_country" placeholder="Enter external country" required><br><br>
        
        <label for="external_currency">External Currency:</label><br>
        <input type="text" id="external_currency" name="external_currency" placeholder="Enter external currency" required><br><br>
        
        <label for="account_holder_name">Account Holder Name:</label><br>
        <input type="text" id="account_holder_name" name="account_holder_name" placeholder="Enter account holder name" required><br><br>
        
        <label for="account_number">Account Number:</label><br>
        <input type="text" id="account_number" name="account_number" placeholder="Enter account number" required><br><br>
        
        <label for="ip">IP Address:</label><br>
        <input type="text" id="ip" name="ip" placeholder="Enter IP address" required><br><br>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>
 -->